.footer
  a(href="https://github.com/yuhongjing")  余鸿靖
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") Proudly published with Hexo&#65281;
  h3
    span#busuanzi_container_site_uv 本站访客数
      span#busuanzi_value_site_uv 人次